* {
    box-sizing: border-box;
}

.main {
    max-width: 400px;
    background-color: #ccc;
    margin: 0 auto;
    border-radius: 10px;
    padding: 5px;
}

.caption {
    text-align: center;
    margin: 10px;
}

.row {

    margin: 10px;
}

.label {
    font-weight: bold;
    text-align: center;
}

.input {
    border-width: 2px;
    width: 150px;
}

.button {
    width: 150px;
    font-weight: bold;
    background-color: #87CEFA;
    border-radius: 5px;
}

.button:active {
    width: 150px;
    font-weight: bold;
    background-color: #598aa8;
    border-radius: 5px;
}

.container {
    margin: 0 auto;
}

.error-message {
    color: #f00;
    display: none;
}

.invalid {
    border-color: #f00;
}

.invalid ~ .error-message {
    display: block;
    text-align: right;
}