* {
    box-sizing: border-box;
}

.content {
    max-width: 859px;
    margin: 0 auto;

    font-family: Helvetica Neue, Arial, sans-serif;
}

table{
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
}

th {
    background-color: #3498DB;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 20px;
    height: 52px;
    padding-left: 10px;
    text-align: left;
}

td {
    font-size: 20px;
    padding-left: 10px;
}


tbody > :nth-child(odd) {
    background-color: #EEEEEE;
    height: 51px;
}

tbody > :nth-child(even) {
    height: 52px;
}
.first_name {
    width: 20.3%;
}

.last_name {
    width: 20.3%;
}

.job_title {
    width: 36.1%;
}

.twitter {
    width: 23.3%;
}